name: "Build and Push docker image to scylladb/scylla-bench"

on:
  workflow_call:
    inputs:
      version:
        default: "dev"
        required: false
        type: string
    secrets:
      DOCKERHUB_TOKEN:
        required: true
      DOCKERHUB_USERNAME:
        required: true
  workflow_dispatch:
    inputs:
      version:
        default: ""
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Needed for ARM64 Docker builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Blacksmith Builder
        uses: useblacksmith/setup-docker-builder@v1

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push docker image to scylladb/scylla-bench
        uses: useblacksmith/build-push-action@v2
        with:
          file: ./Dockerfile
          context: .
          push: true
          pull: true
          platforms: 'linux/amd64,linux/arm64/v8'
          target: production
          tags: |
            scylladb/scylla-bench:${{ inputs.version }}
            scylladb/scylla-bench:latest
