name: Build Lint and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  build-lint-test:
    name: Build Lint and Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          repo: gotestfmt
          version: v2.5.0
      - name: Build
        run: make build
      - name: Unit Tests
        env:
          RUN_MEMORY_LEAK_TEST: true
        run: make test

      - name: Linting
        run: |
          curl -L https://github.com/golangci/golangci-lint/releases/download/v2.6.0/golangci-lint-2.6.0-linux-amd64.tar.gz | tar -xzf - --strip-components=1 -C /usr/bin golangci-lint-2.6.0-linux-amd64/golangci-lint
          sudo chmod +x /usr/bin/golangci-lint
          golangci-lint run
