name: Build Lint and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  build-lint-test:
    name: Build Lint and Test
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          repo: gotestfmt
          version: v2.5.0
      - name: Build
        run: make build
      - name: Unit Tests
        env:
          RUN_MEMORY_LEAK_TEST: true
        run: make test
      - uses: golangci/golangci-lint-action@v9
        name: Linting
